.jigsaw-grid {
  display: grid;
  grid-template-columns: repeat(3, 113px);  
  grid-template-rows: repeat(3, 113px);   
  gap: 4px;
  margin-top: 20px;
  position: relative;
  border-radius: 10px;    /* มอนต์มุมที่ container */
  overflow: hidden;        /* ครอบลูกให้โค้งตาม container */
  
}

.tile {
  width: 120px;  
  height: 120px;
  background-size: 360px 360px; 
  border: 1px solid #999;
  cursor: grab;
  position: relative;
}

/* CSS สำหรับปุ่มที่ไหลลง */
.next-button-container {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  animation: slideDown 1.0s ease-out forwards;
}

@keyframes slideDown {
  0% {
    top: -100px;
   
  }
  100% {
    top: 50px; /* ปรับตำแหน่งตามที่ต้องการ */
    
  }
}

.next-button {
  position: absolute;
  width: 200px; 
  height: auto;
  cursor: pointer;
  top: -100px;
  left: 110px;
  transition: transform 0.2s;
}

.next-button:hover {
  transform: scale(1.1);
}
