.login {
  background-color: #fffcfd;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.login.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.book-container {
  position: relative;
  width: 700px;
  height: auto;
  right: 70px;
}

.book {
  width: 120%;
  height: auto;
  display: block;
}

.jigsaw-wrapper {
  position: absolute;
  top: 24px;
  right: 320px;
  z-index: 2;
}

.cover-container {
  position: absolute;
  top: 42px;
  right: 318px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.cover-image {
  width: 350px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: opacity 1s ease;


}


.uncover-button {
  position: absolute;
  width: 100px;
  height: auto;
  cursor: pointer;
  transition: opacity 1s ease;
}

.cover-image.fade-out,
.uncover-button.fade-out {
  opacity: 0;
}

.uncover-button:hover {
  transform: scale(1.1);
}

.message-container {
  position: absolute;
  top: 55px;
  left: 480px;
  z-index: 4;
  color: #333;
  font-size: 18px;
  text-align: left;
  white-space: pre-line;
  opacity: 1;
  transition: opacity 0.6s ease;
  width: 350px;
}

.fade-out-message {
  opacity: 0;
  pointer-events: none;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.5;
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}





.book-page {
  position: absolute;
  top: 415px;
  left: 630px;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
  z-index: 2;
  pointer-events: none;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transform: scale(0.2);
  transition: transform 1s ease-in-out;
  z-index: -1;
  pointer-events: none;
}

.background-image.expand {
  transform: scale(1);
}