.login {
  background-color: #fffcfd;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* เมื่อมี class fade-in จะทำให้แสดงออกมาแบบค่อยๆ */
.login.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.book {
  position: relative;
  width: 700px;
  height: auto;
  top: 60px;
}
