.login {
  background-color: #fffcfd;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.login.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.book-container {
  position: relative;
  width: 700px;
  height: auto;
  top: 60px;
  right: 70px;
}

.book {
  width: 120%;
  height: auto;
  display: block;
}

.jigsaw-wrapper {
  position: absolute;
  top: 24px;
  right: 334px;
  z-index: 2;
}

.cover-container {
  position: absolute;
  top: 42px;
  right: 318px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3; 
}

.cover-image {
  width: 350px; 
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;

}

.uncover-button {
  position: absolute;
  width: 100px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.uncover-button:hover {
  transform: scale(1.1); 
}