.main-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

.fade-image {
  position: absolute;
  transform: translate(-50%, -40%); /* เริ่มต่ำลงเล็กน้อย */
  opacity: 0;
  transition: opacity 1.5s ease, transform 2.5s ease;
  z-index: 2;
}

.fade-image.visible {
  opacity: 1;
  transform: translate(-50%, -50%); /* เลื่อนขึ้นเล็กน้อยเมื่อแสดง */
}


.fade-image.visible {
  opacity: 1;
}

.image1 {
  top: 320px;
  left: 770px;
  width: 700px;
  
}

.image2 {
  top: 720px;
  left: 770px;
  width: 750px;
  position: absolute;
}
