html,
body,
#root {
  background-color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pre-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.top-box,
.bottom-box {
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.top-box {
  background-color: #fffcfd;
}

.bottom-box {
  background-color: #fed8e3;
  position: relative;
}

.message {
  margin: 10px;
  text-align: center;
  font-family: 'Inter', sans-serif;

}

.message-1 {
  color: #86a788;
  font-size: 3vw;
  font-weight: 700;
  margin-top: -23vh;
  margin-bottom: -2vh;
}

.message-2 {
  color: #ffcfcf;
  font-size: 3vw;
  font-weight: 700;
}

.custom-button {
  background-color: #86a788;
  color: #fffcfd;
  font-size: 2.5vw;
  font-family: 'Inter', sans-serif;
  font-weight: 550;
  border: none;
  border-radius: 15px;
  width: 70vw;
  max-width: 450px;
  height: 10vh;
  min-height: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 5vh;
  top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-button:hover {
  background-color: #789479;
}

.Cat {
  width: 50vw;
  max-width: 730px;
  height: auto;
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.eye {
  width: 8vw;
  height: 8vw;
  max-width: 70px;
  max-height: 70px;
  position: absolute;
  top: 41.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.left-eye {
  left: 47%;
  transform: translateX(-100%);
}

.right-eye {
  left: 53%;
  transform: translateX(0%);
}

.pupil {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  position: relative;
}

.flw1,
.flw2 {
  position: absolute;
  z-index: 10;
  transform: scale(0.4);
  width: auto;
  height: auto;
}

.flw1 {
  top: 14vh;
  left: 33vw;
}

.flw2 {
  top: 24vh;
  right: 34vw;
}

/* Responsive Media Queries */
@media screen and (max-width: 768px) {

  .message-1,
  .message-2 {
    font-size: 6vw;
  }

  .custom-button {
    font-size: 6vw;
    height: 12vh;
  }

  .eye {
    top: 34vh;
  }
}


.fade-out {
  background-color: white;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.6s ease, transform 1.0s ease;
  pointer-events: none;
}